<p>dynamic-presentation works!</p>
<div style="text-align:center">
    <h1>
        Welcome to FactoryResolver!!
    </h1>

    <button (click)="createComponent()">Create success alert</button>
    <ng-container #dynamic></ng-container>
</div>

<div style="text-align:center">
    <h1>
        Welcome to  Cdk-Portal!!
    </h1>

    <button (click)="create()">Create success alert</button>
    <button (click)="destroy()">Create danger alert</button>
    <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
    
</div>


<div style="text-align:center">
    <h1>
        Welcome to Overlay!!
    </h1>

    <button (click)="createOverlay()">Create success alert</button>  
</div>


<h1>Emoji Type</h1>
<label>Sad</label>
<input type="radio" value="sad" [(ngModel)]="emojiName" /> <br> 
<label>Happy</label>
<input type="radio" value="happy" [(ngModel)]="emojiName" /> <br>
<label>Angry</label> 
<input type="radio" value="angry" [(ngModel)]="emojiName" /> <br>

<br>

<h2>{{emojiName | emoji}}</h2>

<br><br>
<h1>Plural Pipe</h1>

<input type="text" [(ngModel)]="numberToWord" />
<div [ngPlural]="numberToWord">
    <ng-template ngPluralCase="=">NULL</ng-template>
    <ng-template ngPluralCase="=0">Zero</ng-template>
    <ng-template ngPluralCase="=1">One</ng-template>
    <ng-template ngPluralCase="=2">Two</ng-template>
    <ng-template ngPluralCase="=3">Few</ng-template>
    <ng-template ngPluralCase="=4">Many</ng-template>
    <ng-template ngPluralCase="other">Others</ng-template>
</div>